
@font-face {
 font-family: 'Wevli Regular';
 src: url('fonts/wevli_regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

@font-face {
    font-family: 'Lato_Regular';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato_Italic';
    src: url('fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato_Bold';
    src: url('fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'Wevli Regular', -apple-system, system-ui;
    font-weight: lighter;
    font-size: 72px;
    text-align: center;
}

h2 {
    font-family: 'Wevli Regular', -apple-system, system-ui;
    font-weight: normal;
    font-size: 36px;
    margin-left: 3%;
    color: #a31f34;
}

h3 {
    font-family: 'Lato_Regular',-apple-system, system-ui;
    font-size: 28px;
    margin-left: 3%;
    font-weight: normal;
    color: white;
    text-align: center;
}

p, ul, u, ol {
    font-family: 'Lato_Regular',-apple-system, system-ui;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 1.5;
}

a {
    color: cyan;
}

strong {
    font-family: 'Lato_Bold', -apple-system, system-ui;
}

i {
    font-family: 'Lato_Italic', -apple-system, system-ui;
}

pre {
    margin-left: -5%;
}

.pTitle, .cInfo {
    background-color: #a31f34;
    color: white;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

td, th {
    border-collapse: separate;
    font-family: monospace;
    font-size: 16px;
    padding-left: 2%;
    padding-right: 2%;
}

.diagrams {
    width: 320px;
    height: 240px;
}

button {
    background-color: rgb(0,113,227);
    box-shadow: none;
    border: 4px solid black;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-size: 14px;
    font-family: -apple-system, system-ui;
}

.collapsible, .dataTable {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    text-align: center;
    border-radius: 0px;
    margin-right: 10px;
}

.collapsible:hover, .dataTable:hover {
    border-radius: 0px;
}

.collapsible_content {
    display: none;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
}

button:hover {
    background-color: darkblue;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:active {
    background-color: #006EDB;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
}
